DATABASE_URL="postgresql://postgres:postgres@localhost:5433/discord_clone_dev"
NEXTAUTH_SECRET="generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
NEXT_PUBLIC_SOCKET_SERVER_URL="http://localhost:4000"
